<%- model_class = ParkingType -%>
<div class="page-header">
  <h2><%=t '.title', :default => "Nuevo Tipo de Espacio", :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
