<%= content_for :header_title do %>

    Contact us 

<% end %>

<%= content_for :header_sub_title do %>

    Encuentranos 




<% end %>

<div id="maps">

    <%= render 'map' %> 

</div>

<br><br>
<p>(01) 2543385</p>
<p><span class="glyphicon glyphicon-envelope"></span> contacto@instaparkingbs.cozm</p>
</br></br>
