<%= content_for :header_title do %>

    Contact us 

<% end %>

<%= content_for :header_sub_title do %>

    Encuentranos 




<% end %>

<div id="maps">

    <%= render 'map' %> 

</div>

<h3>Teléfono</h3>
<p>(01) 2543385</p>
<br>
