<%- model_class = Supply -%>
<div class="page-header">
  <h2><%=t '.title', :default => "Editar Oferta", :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
