<%- model_class = Region -%>
<div class="page-header text-primary">
  <h2><%=t '.title', :default => "Nuevo Departamento", :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
